<p class="logo_repocomics">
    <a id="logoLink">REPOCOMICS</a>
</p>

<input type="checkbox" id="menu-toggle" />
<label class="hamburger" for="menu-toggle">
    <span class="hamburger-icon">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </span>
</label>

<nav>
    <ul>
        <li><a id="navMarvel" href="/pages/publisher/publisher.html?publisher=marvel">Marvel</a></li>
        <li><a id="navDC" href="/pages/publisher/publisher.html?publisher=dc">DC Comics</a></li>
        <li><a id="navFav" href="/pages/favorites/favorites.html">Favoritos</a></li>
    </ul>
</nav>