@media (max-width: 900px) {
    /* 
    =========================
        ESTRUTURA PRINCIPAL
    =========================
*/

    /* Estrutura geral */
    .pagina_personagem {
        padding: 40px 0px;
        width: 95%;
    }

    .pagina_personagem h2 {
        font-size: 2em;
    }

    /* 
    =========================
        FORMULÁRIO DE SUGESTÃO 
    =========================
*/
    .sugestao_hq {
        width: 100%;
    }
}