<footer>
    <div class="footer-top">
        <div class="footer-section">
            <h3>REPOCOMICS</h3>
            <p>
                Um guia feito por um fã para os fãs! Aqui você encontra
                sugestões de leitura, cronologias e curiosidades do
                universo Marvel e DC.
            </p>
        </div>

        <div class="footer-section">
            <h3>CONTATO</h3>
            <p>Dúvidas? Sugestões? Mande um e-mail para:</p>
            <a href="mailto:lukas.kardeck@gmail.com">lukas.kardeck@gmail.com</a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>
            👨‍💻 Criado por Lukas Kardeck - Programação WEB 2025.1 - UESB |
            <a href="https://github.com/lukaskardeck" target="_blank">GitHub</a> |
            <a href="https://linkedin.com/in/lukaskardeck" target="_blank">Linkedin</a>
        </p>
    </div>
</footer>