/* 
    =========================
        BANNER PRINCIPAL
    =========================
*/
.banner_marvel {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 100% 100%;
    background-position: center;
    background-blend-mode: multiply;
    height: 570px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_marvel .logo_marvel {
    width: 300px;
}

/* 
    =========================
        CONTEÚDO PRINCIPAL
    =========================
*/
main {
    margin: auto;
    width: 80%;
    padding: 24px 0px;
}

main .introduction_marvel p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 24px;
    text-indent: 3em;
    line-height: 2em;
}

main .introduction_marvel p strong {
    color: var(--cor-destaque);
}


/* 
    =========================
        SUGESTÃO DE USUARIO
    ========================= 
*/
.sugestao_usuario {
    background-color: var(--cor-terciaria);
    padding: 48px 20px;
    max-width: 800px;
    margin: 32px auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.sugestao_usuario h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.sugestao_usuario p {
    margin-bottom: 30px;
    color: #aaa;
}

.sugestao_usuario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.sugestao_usuario input,
.sugestao_usuario textarea {
    font-family: var(--fonte-texto);
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 1rem;
}

.sugestao_usuario textarea {
    resize: none;
}

.sugestao_usuario button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sugestao_usuario button:hover {
    background-color: var(--cor-destaque);
}
